:root {
  --header-text-color: #212121;
  --footer-text-color: #ffffff;

  --hero-title-color: #ffffff;
  --primary-title-color: #212121;

  --primary-text-color: #212121;
  --second-text-color: #757575;

  --btn-text-color-light: #ffffff;
  --btn-text-color-dark: #212121;

  --accent-color: #2196f3;

  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}

/* ---------------- Header ---------------- */

.header {
  color: var(--header-text-color);
}

.header-logo {
  color: #000000;
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.is-current {
  color: var(--accent-color);
}

.header-contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* ---------------- Footer ---------------- */

.footer {
  color: var(--footer-text-color);
  background-color: var(--third-bg-color);
}

.footer-logo {
  color: inherit;
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* ---------------- index.html ---------------- */

/* ---------------- Hero ---------------- */

.hero {
  text-align: center;

  background-color: var(--third-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--btn-text-color-light);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ---------------- Features ---------------- */

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item-text {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

/* ---------------- Gallery ---------------- */

/* ---------------- Our Team ---------------- */

.team {
  background-color: var(--second-bg-color);
}

.team-item {
  background-color: var(--primary-bg-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

/* ---------------- portfolio.html ---------------- */

.filter-item-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--btn-text-color-dark);
  background-color: var(--second-bg-color);
}

.filter-item-btn:hover,
.filter-item-btn:focus {
  color: var(--btn-text-color-light);
  background-color: var(--accent-color);
}

.works-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
